// Content //////////////////////////////////

/*  Grid
================================================== */


/* Shared
================================================== */

.button {
    border-radius: 100px;
}


/* Sections
================================================== */

.section {
    position: relative;
    padding: 8rem 0 8rem;
    text-align: center;
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    //overflow: hidden;
    // display: list-item;
}

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}


/* Values
================================================== */

.values {
    background-image: url('../images/content/values-bg.jpg');
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
}

.value-multiplier {
    margin-bottom: .5rem;
    color: #11DFC7;
}

.value-heading {
    margin-bottom: .3rem;
}

.value-description {
    // opacity: .8;
    font-weight: 300;
    margin-bottom: 3.5rem;
    line-height: 20px;
}


/* Help
================================================== */

.get-help {
    border-bottom: 1px solid #ddd;
}


/* Categories
================================================== */

.categories .section-description {
    margin-bottom: 4rem;
}


/* End Grid
================================================== */


/* section *******************************/

.s1 {
    padding: 0rem 0 0rem;
    background-color: #34495e;
    //-webkit-clip-path: ellipse(130% 100% at 50% 0%);
    -webkit-clip-path: url(../#clip_path);
    clip-path: url(../#clip_path);
    z-index: 10;
    // margin-top: -35px;
    //overflow: hidden;
    //height: 300px;
    @media #{$md} {
        margin-top: -35px;
    }
    .container {
        width: 100%;
        max-width: none;
        padding: 0px;
        margin-top: -25px;
        // height: 500px;
    }
    /* owl-carousel s1 *******************************/
    .owl-dots {
        position: relative;
        margin-top: -42px;
    }
    #owl-desk {
        display: none;
        @media #{$md} {
            display: block;
        }
    }
    #owl-res {
        @media #{$md} {
            display: none;
        }
    }
    .s1-title {
        position: absolute;
        left: 0;
        right: 0;
        font-size: 40px;
        bottom: 30%;
    }
    .owl-carousel .owl-item img {
        display: block;
        min-width: 100%;
        width: inherit;
        height: auto;
        @media #{$md} {
            width: 100%;
        }
    }
    .owl-item h1 {
        margin: inherit;
    }
    .owl-theme .owl-controls .owl-dots span {
        border: 2px solid #fff;
        background: none;
        opacity: 1;
        // background: #fff;
    }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: #fff;
    }
    /*
    .owl-carousel img {
        max-width: 100%;
        max-height: 100%;
    }
    
    .owl-carousel {
       max-width: 100%;
       height: auto;
   }
   
    
 	 .owl-carousel .item img{
    	max-width: 100%;
    }
    */
    /* End owl-carousel s1 *******************************/
}

.chrome .s1 {
    overflow: hidden;
}

.safari .s1 {
    overflow: hidden;
}

.s2 {
    background-color: #e74c3c;
    -webkit-clip-path: url(../#clip_path);
    clip-path: url(../#clip_path);
    margin-top: -50px;
    z-index: 9;
}

.s2-info {
    text-align: left;
    padding: 10px 40px 0px;
    h1 {
        margin: 0px;
    }
}

.s2-tag {
    p {
        display: inline-block;
        background-color: #c0392b;
        padding: 10px;
    }
}

.s3 {
    -webkit-clip-path: url(../#clip_path-s3);
    clip-path: url(../#clip_path-s3);
    margin-top: -35px;
    z-index: 8;
    background-image: url('../images/content/values-bg.jpg');
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
    img {
        border-radius: 50%;
    }
}

.s4 {
    background-color: #fff;
    -webkit-clip-path: url(../#clip_path);
    clip-path: url(../#clip_path);
    margin-top: -35px;
    z-index: 7;
    .owl-carousel {
        margin-top: -55px;
    }
    .container {
        width: 100%;
        max-width: none;
        padding: 0px;
        margin-top: -25px;
        // height: 500px;
    }
    /* owl-carousel s4 *******************************/
    .owl-carousel .owl-item img {
        display: block;
        min-width: 100%;
        //width: inherit;
        height: auto;
    }
    .owl-item h1 {
        margin: inherit;
    }
    .owl-theme .owl-controls .owl-dots span {
        border: 2px solid #c0392b;
        background: none;
        opacity: 1;
        // background: #fff;
    }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: #c0392b;
    }
    .owl-theme .owl-nav [class*='owl-'] {
        background: none;
        font-size: 40px;
        &:active {
            opacity: .7
        }
    }
    .owl-prev {
        position: absolute;
        left: 0;
        bottom: 65%;
    }
    .owl-next {
        position: absolute;
        right: 0;
        bottom: 65%;
    }
    /* End owl-carousel s4 *******************************/
    .s4-info {
        text-align: left;
        padding: 40px 40px 0px;
    }
    .s4-tag {
        p {
            display: inline-block;
            background-color: #c0392b;
            padding: 10px;
        }
    }
}

.s4 .owl-carousel .owl-item img {
    -webkit-clip-path: url(../#clip_path-head);
    clip-path: url(../#clip_path-head);
}

.chrome .s4 {
    overflow: hidden;
}

.safari .s4 {
    overflow: hidden;
}

.s5 {
    background-image: url('../images/content/values-bg.jpg');
    background-size: cover;
    color: #fff;
    -webkit-clip-path: url(../#clip_path-s5);
    clip-path: url(../#clip_path-s5);
    margin-top: -35px;
    z-index: 6;
    img {
        border-radius: 50%;
    }
    .s5-1-img {
        @media #{$md} {
            width: 30.6666666667%;
        }
    }
}

.s6 {
    background-color: #bdc3c7;
    padding: 8rem 0 8rem;
    -webkit-clip-path: url(../#clip_path);
    clip-path: url(../#clip_path);
    margin-top: -35px;
    z-index: 5;
    img {
        border-radius: 50%;
    }
    .s6-1 {
        width: 50%;
        padding: 10px;
        @media #{$md} {
            padding: 0px;
            width: 22%;
        }
    }
}


/* End section *******************************/

// End Content //////////////////////////////////
