// Content //////////////////////////////////

/*  Grid
================================================== */


/* Shared
================================================== */

.button {
    border-radius: 100px;
}


/* Sections
================================================== */

.section {
    position: relative;
    padding: 8rem 0 18rem;
    text-align: center;
    -ms-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    //overflow: hidden;
    display: list-item;

}

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}


/* Hero
================================================== */

.phone {
    position: relative;
    max-width: 80%;
    //margin: 3rem auto -12rem;
}


/* Values
================================================== */

.values {
    background-image: url('../images/content/values-bg.jpg');
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
}

.value-multiplier {
    margin-bottom: .5rem;
    color: #11DFC7;
}

.value-heading {
    margin-bottom: .3rem;
}

.value-description {
    opacity: .8;
    font-weight: 300;
}


/* Help
================================================== */

.get-help {
    border-bottom: 1px solid #ddd;
}


/* Categories
================================================== */

.categories .section-description {
    margin-bottom: 4rem;
}


/* End Grid
================================================== */


/* section *******************************/

.s1 {
    padding: 0rem 0 0rem;
    background-color: #34495e;
    //-webkit-clip-path: ellipse(130% 100% at 50% 0%);
    -webkit-clip-path: url(../#clip_path);
    clip-path: url(../#clip_path);
    margin-top: -35px;
    z-index: 10;
    //overflow: hidden;
    //height: 300px;
    .container {
        width: 100%;
        max-width: none;
        padding: 0px;
        // height: 500px;
    }
    .owl-dots {
        position: relative;
        margin-top: -42px;
    }
    /*
    .owl-carousel {
       max-width: 100%;
       height: auto;
   }
   
    
 	 .owl-carousel .item img{
    	max-width: 100%;
    }
    */
}

.s2 {
    background-color: #e74c3c;
    -webkit-clip-path: url(../#clip_path);
    clip-path: url(../#clip_path);
    margin-top: -35px;
    z-index: 9;
}

.s3 {
    -webkit-clip-path: url(../#clip_path);
    clip-path: url(../#clip_path);
    margin-top: -35px;
    z-index: 8;
    background-image: url('../images/content/values-bg.jpg');
    background-size: cover;
    color: #fff;
    padding-bottom: 5rem;
    img {
        border-radius: 50%;
    }
}

.s4 {
    background-color: #fff;
    -webkit-clip-path: url(../#clip_path);
    clip-path: url(../#clip_path);
    margin-top: -35px;
    z-index: 7;
}

.s5 {
    background-image: url('../images/content/values-bg.jpg');
    background-size: cover;
    color: #fff;
    -webkit-clip-path: url(../#clip_path);
    clip-path: url(../#clip_path);
    margin-top: -35px;
    z-index: 6;
    img {
        border-radius: 50%;
    }
    .s5-1-img {
        @media #{$md} {
            width: 30.6666666667%;
        }
    }
}

.s6 {
    background-color: #bdc3c7;
    -webkit-clip-path: url(../#clip_path);
    clip-path: url(../#clip_path);
    margin-top: -35px;
    z-index: 5;
    img {
        border-radius: 50%;
    }
    .s6-1 {
        width: 50%;
        padding: 10px;
        @media #{$md} {
            padding: 0px;
            width: 22%;
        }
    }
}


/* End section *******************************/


/* owl-carousel *******************************/

#owl-demo .item img {
    //background: #42bdc2;
    padding: 0px;
    //margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

.owl-item h1 {
    margin: inherit;
}

.owl-theme .owl-controls .owl-dots span {
    border: 2px solid #fff;
    background: none;
    opacity: 1;
    // background: #fff;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}


/* End owl-carousel *******************************/

// End Content //////////////////////////////////
