 // Footer //////////////////////////////////
 .s7 {
     padding: 5rem 0 4rem;
     .section-description {
         font-family: 'rsu_r';
         font-size: 18px;
         width: 60%;
         /* text-align: center; */
         margin: 0 auto;
     }
 }
 
 // End Footer //////////////////////////////////
