 // Header //////////////////////////////////
 .section-header {
     position: relative;
     //padding: 1.5rem 0 2rem;
     text-align: center;
     -ms-transform: translateY(0px);
     -moz-transform: translateY(0px);
     -webkit-transform: translateY(0px);
     transform: translateY(0px);
     //overflow: hidden;
     display: list-item;
 }
 
 .s0 {
     width: 100%;
     background-color: #fff;
     -webkit-clip-path: ellipse(90% 100% at 50% 0%);
    // -webkit-clip-path: url(../#clip_path-head);
     clip-path: url(../#clip_path-head);
     z-index: 12;
     position: absolute;
     opacity: .5;
     //display: none;
     @media #{$md}{
       position: relative;   
     }
 }
 
 // End Header //////////////////////////////////
