@font-face {
    font-family: 'rsu_b';
    src: url("../fonts/rsu_bold-webfont.eot");
    src: url("../fonts/rsu_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rsu_bold-webfont.woff2") format("woff2"), url("../fonts/rsu_bold-webfont.woff") format("woff"), url("../fonts/rsu_bold-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -webkit-transition: 1s opacity;
    -ms-transform: translateX(-50%) translateY(-50%);
    -ms-transition: 1s opacity;
    -moz-transform: translateX(-50%) translateY(-50%);
    -moz-transition: 1s opacity;
}

@media screen and (max-width: 1000px) {
    .wel-con {
        background: url("../../images/wel/eyeball.png");
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    video {
        display: none;
    }
}

.modal-footer {
    border-top: 0px;
}

.cen_but {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100px;
    min-height: 100px;
    height: auto;
    z-index: 1;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -webkit-transition: 1s opacity;
    -ms-transform: translateX(-50%) translateY(-50%);
    -ms-transition: 1s opacity;
    -moz-transform: translateX(-50%) translateY(-50%);
    -moz-transition: 1s opacity;
}

.titlebu {
    font-family: 'rsu_b';
    color: #fff;
    font-size: 60px;
    line-height: 50px;
}

.gotoindex {
    margin: 5%;
    font-family: 'rsu_b';
    font-size: 30px;
    color: #fff;
    width: 155px;
    height: 46px;
    border-radius: 5px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("../../images/content/emailbtn.jpg");
    vertical-align: middle;
    background-size: 100% 100%;
    outline-style: none;
    border-style: none;
}

.gotoindex:active,
.gotoindex:hover {
    color: #888888;
}

.top_band {
    position: fixed;
    top: -5px;
    left: 50%;
    min-width: 100px;
    min-height: 100px;
    width: 1024px;
    height: auto;
    z-index: 1;
    transform: translateX(-50%);
    transition: 1s opacity;
    -webkit-transform: translateX(-50%);
    -webkit-transition: 1s opacity;
    -ms-transform: translateX(-50%);
    -ms-transition: 1s opacity;
    -moz-transform: translateX(-50%);
    -moz-transition: 1s opacity;
}

.stopfade {
    opacity: .5;
}

#polina {
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight: 100;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 2rem;
    width: 33%;
    margin: 2rem;
    float: right;
    font-size: 1.2rem;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
    letter-spacing: .3rem;
}

#polina button {
    display: block;
    width: 80%;
    padding: .4rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgba(255, 255, 255, 0.23);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
}

#polina button:hover {
    background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 500px) {
    div {
        width: 70%;
    }
}


/*@media screen and (max-device-width: 800px) {
        html {
            background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed;
        }
        #bgvid {
            display: none;
        }
    }*/
